.login{
    margin-top: 4%;
    margin-left: 36%;
}

*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.contain{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #000;
    color: #fcb961;
    min-height: 577px;
    height: auto;
    width: 250px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 25px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fcb961;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
/* .active{
    background: lightskyblue;
    color: #000;
} */
.icon, .link_text{
    font-size: 20px;
    color: #fcb961;
}